@charset "utf-8";
/* CSS Document */

.hidden { display: none;}

h1{
  font-size: 20px
}


.spin img{transform: rotate(1turn); transition: 1s;}
.move img{
  transform: translate(200px, 0%);
  transition: 0.5s;
}
.grayout img{filter: grayscale(100%);}
.dshadow img{box-shadow: 0px 0px 10px rgba(0,0,0,0.5);}
.grow img{width: 200%; transition: 0.3s}
.invert img{filter: invert(100%);}
.shrink img{
  width: 50%; transition: 1s;
}
.turnOffLight { background-color: #333}



#container {
  display: inline-block;

}

#container div {
  margin: 0 auto;
  padding: 20px;

}

#container div img{
  width: 150%;
}

#back img:hover{
  width: 160%;
  transition: 0.5s;
}


#bwbadge img:hover{
  width: 160%;
  transition: 0.5s;
}


#checkBox img:hover{
  width: 160%;
  transition: 0.5s;
}

#danger img:hover{
  transform: rotate(1turn);
  transition: 0.5s;
}

#magnify img:hover{
  width: 160%;
  transition: 0.5s;
}

#mark img:hover{
  width: 160%;
  transition: 0.5s;
}

#pause img:hover{
  width: 160%;
  transition: 0.5s;
}

#play img:hover{
  width: 160%;
  transition: 0.5s;
}

#star img:hover{
  width: 160%;
  transition: 0.5s;
}

#sun img:hover{
  width: 160%;
  transition: 0.5s;
}
